

/* -------Container-Section----- */
.Container-Section{
    display: flex;
    flex-direction: column;
     text-align: center;
     line-height: 2rem;
     background-color:beige;
     width: 44%;
     height: 400px;
     gap: 20px;
     
     justify-content: center;
     align-items: center;  background-image: url("C:\Users\PARI\Downloads\Social-Media-Links-main\Story\exotic veda\exoticveda\src\Components\container\Con-assets\Untitled design (69).png");
  }
  .rr{
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
  
  }
  