.contact {
  padding: 4rem;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact p {
  letter-spacing: 0px;
  font-size: 15px;
  padding-bottom: 20px;
}

.contact input, .contact textarea {
  width: 70%;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

.contact textarea {
  height: 100px;
}

.button {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.button .btn {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button .btn:hover {
  background-color: #0056b3;
}

.button .btn span {
  color: white;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
  .contact {
    padding: 2rem;
  }

  .contact input, .contact textarea {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-bottom: 1rem;
  }

  #reason {
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-size: 1rem;
  }

  .button {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 1rem;
  }

  .contact h1 {
    font-size: 1.5rem;
  }

  .contact h2 {
    font-size: 1.2rem;
  }

  .contact p {
    font-size: 14px;
  }

  .button .btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

/* Common styling for input, textarea, and select */
input, textarea, select {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

input:focus, textarea:focus, select:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  height: 150px;
  resize: vertical;
}

select.form-control {
  appearance: none;
  background-color: white;
  cursor: pointer;
}

/* Button styling */
button.btn {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #0056b3;
}

.error{
  color: red;
font-weight: 900;
  font-size: medium;
}


/* Toast Container */
.Toastify__toast-container {
  z-index: 9999; /* Ensure it appears above other elements */
}

/* General Toast Style */
.Toastify__toast {
  border-radius: 8px; /* Rounded corners */
  padding: 1rem; /* Padding inside the toast */
  font-size: 16px; /* Font size */
}

/* Error Toast Style */
.Toastify__toast--error {
 /* Red background for errors */
  color: black; /* White text color */
}
 
.Toastify__close-button {
  color: white; /* Close button color */
}


/* Responsive Styling */
@media (max-width: 768px) {
  .Toastify__toast {
    font-size: 14px; /* Smaller font size on mobile */
  }
}
