.contact {
  /* border: 4px solid black; */
  padding: 4rem;
  margin: 0 auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact p {
  letter-spacing: 0px;
  font-size: 15px;
  padding-bottom: 20px;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 1rem 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  resize: none; /* Prevent resizing of the textarea */
}

.contact textarea {
  height: 100px;
}

.button {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Make buttons wrap on smaller screens */
}

.button .btn {
  padding: 0.75rem 1.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button .btn:hover {
  background-color: #0056b3;
}

.button .btn span {
  color: white;
  font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
  .contact {
    padding: 2rem;
  }

  .contact input, .contact textarea {
    font-size: 0.9rem;
  }

  .button {
    justify-content: center; /* Center buttons on smaller screens */
  }
}

@media (max-width: 480px) {
  .contact {
    padding: 1rem;
  }

  .contact h1 {
    font-size: 1.5rem;
  }

  .contact h2 {
    font-size: 1.2rem;
  }

  .contact p {
    font-size: 14px;
  }

  .button .btn {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

 
 