 
 
 .mt-5 {
   column-gap: 0;
 }
 
 .mt-5 .row {
   display: grid;
   grid-template-columns: 1fr;  
 }
 
 .mt-5 .row img {
   border-radius: 0;
   height: auto;
   width: 100%;
 }
 
 
 
 @media only screen and (min-width: 481px) {
   .mt-5 .row {
     grid-template-columns: 1fr 1fr;  
   }
 }
 
 @media only screen and (min-width: 1205px) {
   .mt-5 .row {
     grid-template-columns: 1fr 1fr 1fr 1fr;  
   }
 }
 