 /* body{
    background-color: #FFE135;
 } */
   

 .mt-5 .row{
  
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;}
 
 /* Custom styles for Product Page */

/* .card {
    transition: transform 0.2s ease-in-out;
  } */
  
  /* .card:hover {
    transform: scale(1.05);
  }
   */
.mt-5 .row img{
    border-radius: 0;
 height:auto;
 width: 100%;
   
  }
 


 
 @media only screen and (max-width: 1204px) {
    .mt-5 .row{
        
        grid-template-columns: 1fr 1fr ;
     }
 
     .mt-5 .row img{
        height: auto;
        width: 100%;
     }
 }
 
 
 @media only screen and (max-width: 800px) {
   .mt-5 .row{
        
      grid-template-columns: 1fr 1fr ;
   }
 }



 @media only screen and (max-width: 480px){
    .mt-5 .row{
        
        grid-template-columns: 1fr  ;
     }
 }
 

 
 
 .mt-5{
column-gap: 0;
 }


















 