 /* body{
    background-color: #FFE135;
 } */
   

 .mt-5 .row{
  
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;}
 
 /* Custom styles for Product Page */

/* .card {
    transition: transform 0.2s ease-in-out;
  } */
  
  /* .card:hover {
    transform: scale(1.05);
  }
   */
.mt-5 .row img{
    border-radius: 0;
 height:auto;
 width: 100%;
   
  }
 


 
 @media only screen and (max-width: 1204px) {
    .mt-5 .row{
        
        grid-template-columns: 1fr 1fr ;
     }
 
     .mt-5 .row img{
        height: auto;
        width: 100%;
     }
 }
 
 
 @media only screen and (max-width: 800px) {
   .mt-5 .row{
        
      grid-template-columns: 1fr 1fr ;
   }
 }



 @media only screen and (max-width: 480px){
    .mt-5 .row{
        
        grid-template-columns: 1fr  ;
     }
 }
 

 
 
 .mt-5{
column-gap: 0;
 }





















 .blog-container {
   font-family: Arial, sans-serif;
   padding: 20px;
   max-width: 800px;
   margin: auto;
   color: #333;
 }
 
 .blog-header {
   text-align: center;
   margin-bottom: 40px;
 }
 
 .blog-header h1 {
   font-size: 2.5rem;
   color: #4A90E2;
 }
 
 .blog-header p {
   font-size: 1.2rem;
   color: #555;
 }
 
 .blog-content {
   margin-bottom: 40px;
 }
 
 .blog-article {
   margin-bottom: 30px;
 }
 
 .blog-article h2 {
   font-size: 2rem;
   color: #4A90E2;
 }
 
 .blog-article p {
   font-size: 1rem;
   line-height: 1.6;
 }
 
 .blog-image {
   width: 100%;
   height: auto;
   border-radius: 8px;
   margin-top: 20px;
 }
 
 .product-list {
   list-style-type: none;
   padding: 0;
 }
 
 .product-list li {
   margin-bottom: 20px;
 }
 
 .product-list h3 {
   font-size: 1.5rem;
   color: #4A90E2;
 }
 
 .product-list p {
   font-size: 1rem;
   color: #555;
 }
 
 .blog-footer {
   text-align: center;
   font-size: 0.9rem;
   color: #777;
   padding: 20px;
 }
 