 
  .footer {
    

  font-family: "Alice", serif;
  font-weight: 400;
  font-style: normal;
  
  font-style: normal;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; 

    background-color: beige;
    padding: 2rem;
    margin-top: 5rem;
   
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0)
  } 
  
   .Social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    border-bottom: 4px solid gray;
  } 
  
  .Footer-ul li {
    list-style: none;
  } 
  .Footer-ul li a:hover {
    color: #D0A82A;
  }


  .Social-media a:nth-child(1) li:hover {
    transform: scale(1.2);  /* Slightly larger */
    color: #4267B2;         /* Facebook's blue color */
  }
  
  /* Hover effect for Instagram (second icon) */
  .Social-media a:nth-child(2) li:hover {
    transform: rotate(10deg) scale(1.2); /* Slight rotation and scale */
    color: #C13584;                      /* Instagram's gradient pink color */
  }
  
  /* Hover effect for YouTube (third icon) */
  .Social-media a:nth-child(3) li:hover {
    transform: scale(1.2);  /* Slightly larger */
    color: #FF0000;         /* YouTube's red color */
  }
  
  /* Hover effect for Linktree (fourth icon) */
  .Social-media a:nth-child(4) li:hover {
    transform: scale(1.2);  /* Slightly larger */
    color: #39e09b;         /* Linktree's green color */
  }